
{{!-- incude Plotly via CDN  --}}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

<style type="text/css">
    .plots {
        width: 500px;
        display: inline-block;
    }
</style>

<script type="text/javascript">
    $(document).ready( () => {

        let house = {{{json condensed_dataset}}};
        let settings = house[0];
        let rooms = house[1];

        // I can add layout info here too, which seems prettier to do

        $("#settings").append(
            "<b> Settings: </b> <br /> 1 timestep: " + settings.increment + " seconds <br />  (Data condensed to 1 hour increments) <br /> <br />"
        );

        for(i = 0; i < rooms.length; i++) {    
            let appliances = rooms[i].appliances;
            for(j = 0; j < appliances.length; j++) {
                $("#plots_container").append(
                    "<p> " + rooms[i].room_id + " :: " + appliances[j].appliance_id + " </p><div class='plots' id='plot_"+i+"_"+j+"'></div>"
                );           
            }
        }

        for(i = 0; i < rooms.length; i++) {    
            let appliances = rooms[i].appliances;
            for(j = 0; j < appliances.length; j++) {
                let appliance_data = appliances[j].data;
                let appliance_layout = appliances[j].layout;
                let plot_id = "plot_" + i + "_" + j;
                Plotly.newPlot(plot_id, appliance_data, appliance_layout);
            }
        }
    });

</script>

<div class="container-fluid">
<h1> Graphs </h1>
<div id="settings"></div>
<div id="plots_container"></div>
</div>



