<script>
  $(document).ready(() => {
    $.getJSON('./appliance-data.js', (data) => {
      let appliance_list = data;
      console.log(appliance_list);
      $.each(appliance_list, (index, appliance) => {
        appliance_type = appliance.type;
        appliance_type = appliance_type.replace(' ', '_');

        $(".appliance-list").append("<option value='"+appliance_type+"'>"+appliance.type+"</option>");
      });
    });

  });
  
</script> 

<div class="container-fluid">
    <div class="col-sm-16">
      <div class="well">
        <h2>Energysim v1.0</h2>
        <br />

        <h4> Days: 
          <input 
            class="form-control" 
            value="100" 
            id="days_input" 
            type="number"
          /> 
        </h4>

        <hr />

        <h4> Add a Room </h4>
            <div id="room_buttons">
            </div>
            <button class="btn btn-primary add_room">
                Kitchen
            </button>

            <button class="btn btn-primary add_room">
                Living Room
            </button>

           <button class="btn btn-primary add_room">
                Basement
            </button>

           <button class="btn btn-primary add_room">
                Bathroom
            </button>

           <button class="btn btn-primary add_room">
                Misc
            </button>
        <br /> <br />

        <h4> Rooms </h4>
            {{#each house}}
                <strong><u> {{this.room_id}} </u> </strong> <br />
                {{#each this.appliances}}
                    <div class='appliance'>{{this.appliance_id}}</div>
                {{/each}}
                <br />
                <div class="row">
                    <div class="col-sm-2">
                        <select 
                          class="appliance-list form-control" 
                          name="{{this.room_id}}_appliances"
                        >
                    </select>
                    </div>
                    <div class="col-sm-2">
                        <button 
                          class="btn btn-primary add_appliance" 
                          id="to-{{this.room_id}}" 
                          class="btn btn-primary">
                          add
                        </button>
                    </div>
                </div>
                <br /><br />
            {{/each}}

         <div id="rooms_setup" class="row">
            <!-- <div class="col-sm-4">
                <div class="well">
                  <p> info about room </p>
                  <button class='btn btn-warning'> Add Appliances </button>
                  </div>
              </div> -->
          </div>

        <hr />

    <p><button id="clear" class="btn btn-primary"> clear house </button></p>
    <p><button id="save" class="btn btn-primary"> save house </button></p>
    {{!-- <p><button id="generate_data" class="btn btn-primary"> generate and display data </button></p> --}}

    </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>Users</h4>
            <p>1 Million</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Pages</h4>
            <p>100 Million</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Sessions</h4>
            <p>10 Million</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Bounce</h4>
            <p>30%</p> 
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
      </div>
    </div>

    
  </div>


  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
